<%# comment : Add the header from the template%>
<%- include("partials/header"); -%>

<h1> About </h1>

<%# comment : Add placeholder for the home screen content.%>
<p>
    <%= aboutText %>
</p>

<%# comment : Add the footer from the template %>
<%-  include("partials/footer"); -%>