<%# comment : Add the header from the template%>
<%- include("partials/header"); -%>

<h1> Posts </h1>
 

      <h3> <%= postBlog.Title %> </h3>  
      <p>  <%= postBlog.Post %>  </p>  


<%# comment : Add the footer from the template %>
<%-  include("partials/footer"); -%>