<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Eligibility Run</title>
  </head>
  <body>
    <h1 class="text-center text-muted" >Eligibility Run Menu</h1>
    <div class="col-md-6 offset-md-3">
      <form id="newForm" class="was-validated" action="/" method="POST">
        <div class="mb-3">
          <input type="text" name="flname" class="form-control" aria-label="File Name" placeholder="File name" required>
          <div class="invalid-feedback">Please specify the file name</div>
        </div>

        <div class="mb-3">
          <input type="text" name="clientId" class="form-control" aria-label="Client ID" placeholder="Client ID" required>
          <div class="invalid-feedback">Please specify the cleint ID </div>
        </div>

        <div class="mb-3">
          <input type="text" name="date" class="form-control" aria-label="date" placeholder="date(MMDD)" required>
          <div class="invalid-feedback">Please specify date in MMDD format</div>
        </div>

        <label for="runType">Choose file format :</label>
        <select name="runType" id="runType">
          <option value="X12" name = "X12" >X12</option>
          <option value="Cardh29" name = "Cardh29" >Cardh29</option>
          <option value="accum" name = "accum" >Accumulator</option>
        </select>
        <br><br>

        <div class="mb-3">
          <button class="btn btn-secondary" type="submit" name="submit">Submit to load</button>
        </div>
        <div class="mb-3">
            <label for="validationTextarea" class="form-label">Run log from Robin</label>
            <textarea class="form-control" id="validationTextarea" placeholder="Run log will be shown here .."><%= logs %></textarea>
        </div>
      </form>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>