<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> To Do List </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- The the variable kindOfDay is comming from the app.js -->
    <div class="box" id="heading">
        <h1>Today is <%= kindOfDay %> and it is <%= kindDayName %> </h1>
    </div>

    <div class="box"> 
        <% for(var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newListItems[i] %> </p>
            </div>
        <% } %>
        
        <form action="/" method="POST" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit"> + </button>
        </form>
    </div>
    
    
</body>
</html>